body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url('img/bg-sidebar.png') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 0 1.5rem;
    background-color: rgba(247, 183, 0, 1);
    font-weight: bold;
    font-size: 1rem;
    margin-left: auto;
}

.bi-search {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
}

.search-box input{
    padding-left: 30px;
}
.sidebar .nav-link {
    color: white;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 12px;
}

.sidebar .nav-link.active, 
.sidebar .nav-link:hover {
    background-color: rgba(247, 183, 0, 0.7);
    border-radius: 0.25rem;
    color: white;
    width: 90%;
    text-decoration: none;
}

.sidebar .nav-link i {
    width: 20px;
}

.logo {
    display: inline;
    margin: 1rem auto;
    width: 60px;
    height: auto;
}

.sidebar .search-box {
    padding: 0.75rem 1.5rem;
}

.sidebar .search-box input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem; /* espaço para o ícone à direita */
    border-radius: 4px; /* cantos arredondados maiores */
    border: none;
    background-color: rgba(255, 255, 255, 0.5); /* fundo escuro semi-transparente */
    color: white; /* texto branco */
    font-size: 0.95rem;
}

.sidebar .search-box {
    position: relative;
}

.sidebar .search-box::before {
    content: ""; /* Unicode da lupa 🔍 */
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
}

.sidebar .bottom {
    margin-top: auto;
    padding: 1rem 1.5rem;
}

.sidebar .nav-link:focus {
    outline: none; /* remove o contorno azul */
    box-shadow: none; /* remove sombra do navegador */
}
